.sidebar {
    background-color: #285c4d;
    padding: 10px;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar button {
    background-color: #285c4d;
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
  }
  
  .sidebar button:hover {
    background-color: #1e3b34;
  }
  
  .sidebar .submenu {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }
  