/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content-container {
  display: flex;
  flex: 1;
  width: 100%;
}

/* Navbar Styles */
.navbar {
  background-color: #0c231e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fijar el navbar */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegurar que el navbar esté por encima del contenido */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.navbar-links a.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9.5px;
  height: 2px;
  background-color: white;
}

/* Sidebar Styles */
.sidebar {
  background-color: #285c4d;
  padding: 10px;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed; /* Fijar el sidebar */
  top: 40px; /* Justo debajo del navbar */
}

.sidebar button {
  background-color: #285c4d;
  color: white;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.sidebar button:hover {
  background-color: #1e3b34;
  border-radius: 10px;
}

.sidebar .no-hover:hover {
  background-color: #285c4d;
  cursor: context-menu;
}

.sidebar .submenu {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 20px; /* Añadir padding alrededor del contenido */
  padding-top: 50px;
  margin-left: 200px; /* Espacio para la barra lateral fija */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: flex-start; /* Alineación vertical arriba */
  text-align: justify; /* Justificar el texto */
}

.main-title {
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.main-content p, .main-content ol {
  max-width: 800px; /* Limitar el ancho para centrar el contenido */
  width: 100%;
  margin-bottom: 20px; /* Espacio entre párrafos y listas */
  line-height: 1.6; /* Mejorar legibilidad */
}

.main-content ol {
  padding-left: 20px; /* Indentación para la lista */
}

.main-content ol li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.image-container {
  display: flex;
  flex-direction: column; /* Asegurar que el texto esté debajo de la imagen */
  align-items: center; /* Centrar la imagen y el texto horizontalmente */
  width: 100%;
  max-width: 800px; /* Limitar el ancho de la imagen */
  padding: 20px;
  overflow: hidden; /* Asegurar que la imagen no se salga del contenedor */
}

.image-container img {
  width: 100%; /* Hacer que la imagen ocupe el 100% del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 10px; /* Añadir bordes redondeados */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre botones y la imagen */
}

.button-container button {
  background-color: #285c4d; /* Fondo del botón */
  color: white; /* Color del texto */
  border: 2px solid #285c4d; /* Borde del botón */
  padding: 10px 20px;
  cursor: pointer; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Transición para efectos */
}

.button-container button:hover {
  background-color: white; /* Fondo del botón al hacer hover */
  color: #285c4d; /* Color del texto al hacer hover */
}

.button-graph {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 20px;
}

.button-map {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 20px;
}
