/* src/Table.css */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centrar verticalmente */
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 50%; /* Ajusta el ancho de la tabla */
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    text-align: center; /* Centrar el texto */
    padding: 8px;
    width: 50%; /* Cada columna ocupa el 50% del ancho */
  }
